<%- include("../partials/header") %>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= user.firstName + " " + user.lastName %>'s homepage</h1>
    <img src="<%= user.avatar %>" alt="user profile image" width="10%" height="25%">
  </div>

  <div class="card" style="width: 18rem;">
    <h5 class="card-header"><%= user.firstName + " " + user.lastName %>'s trips</h5>
    <div class="card-body">
      <% trips.forEach(function(trip) { %>
        <div><a href="/trips/<%= trip.id %>"><%= trip.name %></a></div>
      <% }); %>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>