<%- include("../partials/header") %>

<div class="container" id="show-image">
    <div class="card bg-dark text-white">
        <img src='https://images.pexels.com/photos/356830/pexels-photo-356830.jpeg?cs=srgb&dl=architecture-bay-bridge-356830.jpg&fm=jpg' class="card-img" style="height: 350px;">
        <div class="card-img-overlay">
          <h5 class="card-title" style="padding-top:40px">Welcome to ShareTrip!</h5>
          <p class="card-text">View amazing trips from all over the world</p>
          <p><a class="btn btn-primary btn-lg" href="/trips/new">Add New Trip</a></p>
        </div>
    </div>
</div>


<div class="container" style="min-height:40vh">     
    <div class="row text-center">
        <%trips.forEach((trip)=>{ %> 
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
            <div class="card bg-light">
                <div class="col-md-3 col-sm-6"></div>                     
                <img src="<%=trip['image']%>" width="100%" height="180px" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><%=trip["name"]%></h5>
                    <div>
                        <span class="badge badge-danger mb-0"><i class="far fa-heart"></i> <%= trip.likes.length %></span>
                    </div>
                    <hr>
                    <a href="/trips/<%= trip['_id']%>" class="btn btn-primary">More Info</a>
                </div>         
            </div>
        </div>
        <% })%>
    </div>
</div>

<%- include("../partials/footer") %>